@import "tailwindcss";
@config "../tailwind.config.js";

/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE DA APLICAÇÃO */
body {
  font-family: "Grand Hotel", sans-serif;
  color: #ffffff; /* texto branco padrão */
  min-height: 100vh;
}

/* GARANTE TEXTO BRANCO NOS ELEMENTOS */
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  color: #ffffff;
}

/* TÍTULO COM FONTE DIFERENTE */
h1 {
  font-family: "Allura", cursive;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -1.5px;
  margin: 32px 0;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}
