@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --font-serif: "Allura", cursive;
  --font-handwriting: "Grand Hotel", sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      sans-serif;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }
}
